html,body {
	background-color: #d8d8d8;
	width: 100%;
	font-family:"游ゴシック" , "Yu Gothic" , sans-serif;
}
h1 {
	text-align: center;
}
.menu_list {
	margin-left: auto;
}
.menu {
	display: inline-block;
	margin: 0 12px;
	font-size: 0.9em;
}
.desc {
	text-align: center;
}
.article {
	position: relative;
	width: 60%;
	max-width: 600px;
	margin: 0 auto;
	background-color: #FFF;
}
.day { 
	color:#333;
	margin-left: 15px;
}
.title {
	color:#333;
	margin-left: 15px;
	font-size: 2em;
	text-decoration: underline;
}
.heading {
	margin-left: 15px;
	font-size: 1.2em;
}
p {
	margin-left: 15px;
	font-size: 1em;
}


form {
	margin: 0 auto; /*フォームをページの中央に*/
	width: 400px;
	padding: 1em; /*周りの余白を作る*/
	border: 1px solid #BBB; /*周りの枠*/
	border-radius: 1em; /*周りの枠の角を丸く*/
	position: relative; /*この要素を基準点に設定*/
}
form div + div { /*各フォームの間隔をあける*/
	margin-top: 1em;
}
label {
	display: inline-block;
	width: 50px;
	text-align: right;
}
input, textarea {
	font: 1em serif; /*fontをserifに設定*/
	width: 300px; /*テキストフィールドを同じサイズにする*/
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 0.2em;
	box-shadow: 1px 1px 1px 1px #aaa;
}
input:focus, textarea:focus {
	border-color: #FFF; /*アクティブな要素を強調させる*/
}
textarea {
	vertical-align: top; /*複数行のフィールドをラベルに揃える*/
	height: 8em; /*テキスト内の容量*/
	resize: vertical; /*リサイズできるように*/
}
.day {
	font-size: .7em;
	margin-left: 50px;
}

button {
	position: absolute; /*formが基準点*/
	right: 62px; /*右から62px*/
	bottom: 5px; /*下から5px*/
	color: #555;
	background-color: #d8d8d8;
	border: 0.5px solid #888;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #aaa;
}
