html,body {
	background-color: #d8d8d8;
	width: 100%;
	font-family:"游ゴシック" , "Yu Gothic" , sans-serif;
}
h1 {
	text-align: center;
}
.menu_list {
	margin-left: auto;
}
.menu {
	display: inline-block;
	margin: 0 12px;
	font-size: 0.9em;
}
.desc {
	text-align: center;
}
.article {
	position: relative;
	width: 60%;
	max-width: 600px;
	margin: 0 auto;
	background-color: #FFF;
}
.day { 
	color:#333;
	margin-left: 15px;
}
.title {
	color:#333;
	margin-left: 15px;
	font-size: 2em;
	text-decoration: underline;
}
.heading {
	margin-left: 15px;
	font-size: 1.2em;
}
p {
	margin-left: 15px;
	font-size: 1em;
}
p img {
	width: 5em;
	height: 5em;
}
button {
	position: relative; /*formが基準点*/　/*バグ*/
	bottom: 5px; /*下から5px*/
	color: #555;
	background-color: #d8d8d8;
	border: 0.5px solid #888;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #aaa;
}
